@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.container{
    margin: 1rem;

}


/* Header styling */
.nav{
    background-color: #ffffff;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 2rem;
     padding: 0 1rem;
     padding-top: 43px;
    width: 1440px;
}
.site-title{
    padding-left: 100px;
}
#img{
    display: inline;
    height: 36px;
    width: 233px;
    left: 0px;
    top: 3.6px;
    padding-left: 100px;
    border-radius: 0px;

}
.connect-wallet{
    padding-right: 100px;
}
  
#connect__wallet{
    height: 48px;
    width: 170px;
    left: 1070px;
    top: 0px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-color: #A02279;
    border-radius: 10px;

    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
}
.nav a{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    

    color: #434343;
    text-decoration: none;
}


#Board-main-container{
    margin: 0px;
    padding: 0px;
    padding-left: 6vw;
    padding-right: 6vw;
}
#Board-row{
    margin: 0px;
    padding: 0px;
}
#Board-col-1{
    margin: 0px;
    padding: 0px;
    text-align: start;
}
#Board-col-2{
    margin: 0px;
    padding: 0px;
    padding-top: 10vh;
    text-align: end;
    padding-right: 0.5vw;
}
#Board-col-3{
    margin: 0px;
    padding: 0px;
    padding-bottom: 10vh;
    text-align: start;
    padding-left: 0.5vw;
}

#Board-div-1-maintext{
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    color: #434343;
    margin-top: 2vh;
}
#Board-div-1-subtext{
    color: #A02279;
}
#Board-div-2-maintext{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #434343;
    margin-top: 6vh;
    margin-bottom: 6vh;
}
#Board-div-input{
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    color: #434343;
    height: 7vh;
    width: 50%;
    padding-left: 1vw;
}
#Board-div-btn{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    height: 7vh;
    width: 35%;
    margin-bottom: 3vh;
}



/* Footer styling below */

#Footer-main-container{
    position: absolute;
    color: #ffffff;
    width: 1440px;
    height: 322px;
    top: 2568px;

    background: #1D1D1E;

}
#Footer-unlist-1-main{
    position: absolute;
    left: 7.85%;
    right: 75.97%;
    top: 18.01%;
    bottom: 69.57%;

    height: 40px;
    width: 233px;
    left: 113px;
    top: 58px;
    border-radius: 0px;

}
#fb{
    height: 18px;
    width: 18px;
    left: 113px;
    top: 194px;
    border-radius: 0px;

    position: absolute;
    left: 7.85%;
    right: 90.9%;
    top: 60.25%;
    bottom: 34.16%;

}
#insta{
    height: 18px;
    width: 18px;
    left: 163px;
    top: 194px;
    border-radius: 0px;

    position: absolute;
    left: 11.32%;
    right: 87.43%;
    top: 60.25%;
    bottom: 34.16%;

}
#twt{
    height: 18px;
    width: 18px;
    left: 213px;
    top: 194px;
    border-radius: 0px;

    position: absolute;
    left: 14.79%;
    right: 83.96%;
    top: 60.25%;
    bottom: 34.16%;

}
ul{
    list-style: none;
}

#Footer-unlist-1-sub-2{
    position: absolute;
    left: 8.19%;
    right: 82.15%;
    top: 82.92%;
    bottom: 11.49%;

    height: 18px;
    width: 139px;
    left: 118px;
    top: 267px;
    border-radius: 0px;

}
.footer-words{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 217px;

    position: absolute;
    width: 698px;
    height: 169px;
    left: 533px;
    top: 63px;

}
#Footer-unlist-2-main{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
#Footer-unlist-2-sub{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;

    display: flex;
    align-items: center;

    color: #F1F3F9;
}
