@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

#Board-main-container{
    margin: 0px;
    padding: 0px;
    padding-left: 6vw;
    padding-right: 6vw;
    justify-content: center;
    align-items: center;
    gap: 99px;

    position: absolute;
    width: 100%;
    height: 459px;
    left: 100px;
    top: 216px;
}
#Board-row{
    margin: 0px;
    padding: 0px;

    height: 459px;
    width: 1221px;
    left: 100px;
    top: 216px;
    border-radius: 0px;

}
#Board-col-1{
    margin: 0px;
    padding: 0px;
    text-align: start;
    gap: 109px;
    
    width: 646px;
    height: 400.08px;
}
.Board-col-images{
    
    left: 745px;
    top: 0px;
    border: 50px;
    width: 476px;
    height: 459px;
    padding-left: 10px;
}

/*I might be crazy but hear me out*/
#BoardImage1{
    position: absolute;
    width: 234px;
    height: 176px;
    left: 745px;
    top: 99px;
    padding-left: 10px;
}

#BoardImage2{
    position: absolute;
    width: 234px;
    height: 176px;
    left: 745px;
    top: 283px;
    padding-left: 10px;
}

#BoardImage3{
    position: absolute;
    width: 234px;
    height: 176px;
    left: 987px;
    top: 0px;
    padding-left: 0px;
}

#BoardImage4{
    position: absolute;
    width: 234px;
    height: 176px;
    left: 987px;
    top: 184px;
    padding-left: 0px;
}

#Board-div-1-maintext{
    font-family: 'Red Rose';
    font-size: 56px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 2vh;
}
#Board-div-1-subtext{
    color: #A02279;
    font-family: 'Red Rose';
    font-size: 56px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.02em;
    text-align: left;

}
#Board-div-2-maintext{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: 6vh;
    margin-bottom: 6vh;

    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    /* or 146% */

    color: #434343;
}
#Board-div-2{
    width: 636px;
}
#Board-div-input{
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    color: #434343;
    height: 7vh;
    width: 50%;
    padding-left: 1vw;
}
#Board-div-btn{
    font-family: 'Red Rose';
    font-style: normal;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    height: 7vh;
    width: 35%;
    margin-bottom: 3vh;
}


/* The Purple Strip */

#Strip-main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    gap: 264px;
    
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 742px;
    
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}
#Strip-row{
    margin: 0px;
    padding: 0px;
    width: 1440px;
}
#Strip-col{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* */
#Desert-main-container{
    position: absolute;
    width: 1440px;
    height: 963px;
    left: 0px;
    top: 831px;
    padding-left: 40px;
    
    background: #FFFFFF;
}
#Desert-maintext{
    position: absolute;
    width: 817px;
    height: 60px;
    left: 313px;
    top: 39px;
    
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */
    
    
    color: #000000;
}
#Desert-main-row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    width: 1240px;
    height: 768px;
    left: 100px;
    top: 142px;
}

#DesertKing-main-col{
    padding: 1vh 0.5vw 1vh 0.5vw;
    align-items: center;
}

#DesertKing-main-col-container,
#DesertKing-main-col-container-2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 1240px;
    height: 372px;

} 

#Stars{
    padding-bottom: 5px;
}

#DK-col{
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    /* FADE */

    border: 1px solid #D7D7D7;
    border-radius: 15px;
}

#DesertKing-div{
    width: 100%;
}
#DesertKing-div-02{
    display: flex;
}
#DesertKingImage {
    /*width: 100%;*/
    margin-bottom: 1vh;
    width: 260px;
    height: 265px;
    left: 16px;
    padding-top: 16px;


}

#DesertKing-subdiv-1{
    text-align: start;
    width: 50%;
}
#DesertKing-subdiv-2{
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 50%;
}
#DesertKing-maintext{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #434343;
}
#DesertKing-subtext-1{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #434343;
}
#DesertKing-subtext-2{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #434343;
    margin-top: -1vh;
}
#DesertKingIcon{
    margin-top: -2vh;
}

/* Lastframe Styling Below*/

#Lastframe-main-container{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border: 1px solid #000000;
    padding-top: 13vh;
    padding-bottom: 13vh;
    padding-left: 6vw;
    padding-right: 6vw;

    box-sizing: border-box;

    position: absolute;
    width: 1440px;
    height: 774px;
    left: 0px;
    top: 1794px;
}
#Lastframe-row{
    margin: 0px;
    padding: 0px;
    
}
#Lastframe-col-1{
    margin: 0px;
    padding: 0px;
    
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#Lastframe-col-2{
    margin: 0px;
    padding: 0px;
   
}
#Lastframe-maintext{
    margin-bottom: 4vh;

    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */


    /* White lin */

    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

#Lastframe-subtext{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    /* or 194% */
 
    
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 4vh;
}
#Lastframe-btn{
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border-radius: 8px;
    border: none;
    font-family: 'Red Rose';

    line-height: 19px;
    /* identical to box height, or 120% */

    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #A02279;
    height: 6vh;
    width: 10vw;

}
