@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');
.filter{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
    padding-top: 48px;
    padding-bottom: 40px;
    left: 6.94%;
    right: 29.1%;
    top: 9.51%;
    bottom: 89.49%;
}

.filter ul{

    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    padding-left: 100px;
    gap: 48px;
}
.filter a{
    width: 98px;
    height: 25px;

    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */


    /* text black */
    text-decoration: none;
    color: #434343;
}

.location-button{
    position: relative;
    padding-right: 100px;
    height: 48px;
    width: 161px;


    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #B4B4B4;
    border-radius: 8px;
}

#location_typo{
    
    width: 68px;
    height: 20px;

    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height, or 120% */

    text-align: center;

    color: #333333;

}

#location_toggle{
    position:absolute;
    width: 24px;
    height: 24px;
    left: 121px;
    top: 12px;

    
}

#special{
    padding-left: 80px;
}    
